@media (max-width: 1650px) {
  .column {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 1.5rem;
    width: 1.5rem;
  }

  #graphs {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-left: 6rem;
    display: flex;
  }

  div .row:last-child {
    display: none;
  }
}

@media (max-width: 1300px) {
  .border {
    display: none;
  }
}

@media (max-width: 1440px) {
  .teste p {
    display: flex;
    margin: 1rem 1rem 8rem 1rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .span-line a {
    margin-left: 14rem;
  }

  .span-line a:nth-child(3) {
    margin-top: 3.5rem;
    margin-left: 0rem;
    margin-right: 5rem;
  }

  #img-right {
    margin-right: 20rem;
  }

  .teste p {
    margin-left: 2rem;
  }

  div .temp {
    font-size: 1rem;
  }

  div .row:nth-child(7) {
    display: none;
  }

  .teste p {
    display: flex;
    margin: 1rem 1rem 0 1rem;
    align-items: center;
    justify-content: center;
  }

  #paragraph {
    margin-left: 20rem;
  }

  .column {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 1rem;
    width: 1.5rem;
  }

  #graphs {
    font-size: 1.5rem;
    margin-top: 8rem;
    margin-left: 4rem;
  }
}

@media (max-width: 768px) {
  .images-loc:nth-of-type(2) {
    margin-right: 3rem;
  }

  .border img:last-child {
    margin-right: 3rem;
    display: flex;
  }

  #paragraph {
    margin-left: 10rem;
  }

  .border {
    display: flex;
  }

  .center {
    margin-right: 5rem;
    font-size: 1rem;
  }

  input {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .row,
  section div h2 strong {
    display: none;
  }

  div .temp {
    font-size: 0.9rem;
  }

  .images-container {
    flex-wrap: wrap;
    display: flex;
  }

  .centro h1 {
    font-size: 8rem;
  }

  .centro p {
    font-size: 1.5rem;
  }

  #notification {
    margin-right: 1.8rem;
  }

  .column {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0.6rem;
    width: 1.5rem;
  }

  #graphs span {
    font-size: 1.1rem;
  }
}

@media screen and (prefers-color-scheme: dark) {
  /*🌑 Dark mode styles */
  body {
    color: white;
  }

  #col-1 {
    background-color: #110e1d;
  }

  #col-2 {
    background-color: #110e2d;
  }

  p {
    color: white;
  }

  img {
    filter: brightness(0.9);
  }

  input:focus {
    outline: none;
    border: 1px solid white;
  }
}
